$color-primary: #55c57a;
$color-light: #7ed56f;
$color-dark: #28b485;
$color-grey-dark: #777777;
$color-white: #ffffff;
$color-black: #000000;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
